/* This is a CSS comment */

/* Select the body element and set the font family */
/* body {
    font-family: Arial, sans-serif;
}
 */
/* Select all h1 elements and set their color */
h1 {
    color: #0B4B7A;
    font-size: 36px;
}

/* Select all elements with class "highlight" and set their background color */
/* .highlight {
    background-color: yellow;
}
 */
/* Select the element with id "special" and set its font size */
#special {
    font-size: 2em;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
