/* This is a CSS comment */

/* Select the body element and set the font family */
/* body {
    font-family: Arial, sans-serif;
}
 */
/* Select all h1 elements and set their color */
h1 {
    color: #0B4B7A;
    font-size: 72px;
}

h2 {
    color: #003D5F;
}

h3 {
    color: #006BB6;
}


/* Select all elements with class "highlight" and set their background color */
/* .highlight {
    background-color: yellow;
}
 */
/* Select the element with id "special" and set its font size */
#special {
    font-size: 2em;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(13, 21, 36, 0.22); 
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.icon-box:hover {
  transform: scale(1.08);
}
